* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    height: 100%;
    overflow: auto;
}

html{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.jumbotron {
    margin: 0;
}

.foto-tabla {
    width: 80px;
    height: 80px;
}

.foto-info {
    width: 320px;
    height: 240px;
}

